<p><a href="https://www.facebook.com/SeniorArtistsNetwork"><img src='/assets/facebook-blue-29-29.png' /></a><a href="https://www.facebook.com/SeniorArtistsNetwork">LIKE us on Facebook!</a> &bull; <%= t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name) %>, All Rights Reserved</p>
